numpy==2.2.2
pandas==2.2.3
psycopg2-binary==2.9.10
python-dateutil==2.9.0.post0
pytz==2025.1
six==1.17.0
SQLAlchemy==2.0.38
typing_extensions==4.12.2
tzdata==2025.1
pip~=22.2.1
attrs~=25.1.0
protobuf~=4.23.4
tornado~=6.4.2
Jinja2~=3.1.5
pytest~=8.3.4
charset-normalizer~=3.4.1
setuptools~=75.8.0
overrides~=7.7.0
cffi~=1.17.1
ipython~=8.32.0
pyarrow~=11.0.0
MarkupSafe~=3.0.2
psycopg2~=2.9.10
packaging~=24.2
pyparsing~=3.2.1
sql~=2022.4.0
python-dotenv~=1.0.1